.idea
workspace.iml
*.class
*.jar
*.war
*.ear

/aop/target
/hibernate/target
/homeschool/target
/jaxb/target
/jms/target
/jpa/target
/model/target
/xml/target

/aop/aop.iml
/hibernate/hibernate.iml
/homeschool/homeschool.iml
/jaxb/jaxb.iml
/jms/jms.iml
/jpa/jpa.iml
/model/model.iml
/xml/xml.iml

/jaxb/src/main/main.iml
/hibernate/src/main/main1.iml
/model/src/main/main2.iml
/homeschool/src/main/main3.iml
/xml/src/main/main4.iml
/jpa/src/main/main5.iml
/jms/src/main/main6.iml
/aop/src/main/main7.iml
/jpa/src/test/test.iml
/hibernate/src/test/test1.iml
/homeschool/src/test/test2.iml
/jaxb/src/test/test3.iml
/model/src/test/test4.iml
/jms/src/test/test5.iml
/aop/src/test/test6.iml
/xml/src/test/test7.iml
